/*********************/
/* Layout */
/*********************/
	

body
{
	padding: 40px;
}

.side-nav {

  
}

/* FOOTER */

#footer {
	clear: both; /* drops footer below all the floats */
	border: 1px solid black;	
	padding: 5px 5px 5px 5px;
	background: #f5f5f5;
	
}