/*********************/
/* Layout */
/*********************/
	

body
{
	padding: 40px;
}

.side-nav {

  
}



/* Upcoming Events List */
ul.upcoming-events {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

/* FOOTER */

#footer {
	clear: both; /* drops footer below all the floats */
	border: 1px solid black;	
	padding: 5px 5px 5px 5px;
	background: #f5f5f5;
	
}