/* Reset for Browser Styles*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, var, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* End of Reset */
	

html
{
	min-height:100%;
	height:auto;
}

body
{
	background-color: #FDF8AB;
	background-image: url(imgs/bg_page.png);
	background-repeat: repeat-y;
	background-position: center top;
	padding: 0;
	margin: 0 auto;
	width: 760px;
}

h1, h2, h3 {
	color: #BD8100;
	font-family: Baskerville, "Palatino Linotype", Times, serif;
	border-top: 2px solid #86A100;
	padding-top: 7px;
	padding-left: 100px;
}

p
{
	color: #505050;
	line-height: 150%;
	font-size: 1em;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-left: 100px;
}

li
{
	display:inline;
}

input {
	font-size: 12px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 3px;
}

#submit
{
	width:auto;
	height: 20px;
	text-align:center;
	font-weight:bold;
	background-color:#B0C4DE
}

.error { 
	color:#FF0000;
}

.errorMessage { 
	font-style: italic; 
}


/* Site Navigation Bar */

#Navigation a:link, a:visited
{
	font-weight:bold;
	color:#006699;
	background-color:#CCCCCC;
	width:100px;
	text-align:center;
	padding:8px;
	text-decoration:none;
	text-transform:uppercase;
}

#Navigation a:hover, a:active
{
	background-color:#EEEEEE;
}

#Navigation ul {
	margin: 0;
	padding:12px;
	width:auto;
	position:relative;
	display:block;
	height:12px;
}

#Navigation ul li {
	display:block;
	float:left;
	margin:0;
	padding:6px;
	text-align:center;
}

#Navigation ul li a {
	display:block;
	float:left;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	height:6px;
	padding:3px;
}

/* Zebra style for roster tables */
.zebra {
	background-color: #EEEEEE;
	color: #666666;
}

/* Zebra hover style for roster tables */
tr.zebraHover {
	background-color: #FFFACD;
}

/* Style for form */

label {
  display: block;
}
label.valid {
  width: 24px;
  background: url('imgs/valid.png') center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  padding-left: 5px;
  display: inline-block;
}

input {
  display: inline-block;
}

form div {
  padding: 5px;
  float: left;
  clear: left;
  width: 100%;
}

button {
  margin-top: 10px;
}


/* Style for tables */
		.table-wrapper {
			width: 520px;
		}

		.wrapper-paging {
			display: none;
		}

		.wrapper-paging ul,
		.wrapper-paging li {
			float: left;
			margin: 0;
			padding: 0;
		}

		.wrapper-paging ul {
			float: left;
			list-style-type: none;
			text-align: left;
		}

		.wrapper-paging a {
			border: 2px solid #FFFFFF;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			display: inline-block;
			color: #015287;
			cursor: pointer;
			margin-right: 3px;
			padding: 3px 7px;
			text-decoration: none;
		}

		.wrapper-paging .paging-this {
			cursor: default;
			padding: 3px 0;
		}

		.wrapper-paging a:hover {
			background-color: #015287;
			color: #FFFFFF;
		}

		.wrapper-paging .paging-back,
		.wrapper-paging .paging-next {
			border-color: #015287;
		}

		.wrapper-paging .paging-this:hover {
			background-color: #FFFFFF;
			color: #015287;
		}

		.wrapper-paging .paging-this b {
			font-weight: normal;
		}
		
		.wrapper-paging .paging-disabled,
		.wrapper-paging .paging-disabled:hover {
			background-color: #FFFFFF;
			border-color: gray;
			color: gray;
			cursor: default;
		}