#navigation{
	float: right;
	width: 150px;
}
#intro{
	width: 450px;
}

body {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	color: #3E3E3E;
	background: #94C5EB url('imgs/homepage-1.jpg') repeat-x;
	font-size: 12px;
}

p {
	padding: 5px;
}

a {
	color: #3687AF;
}

#container{
	margin:0 auto;
	text-align: left;
	width: 650px;
}

#header{
	height: 60px;
	color: #172322;
	background: transparent url('imgs/homepage-1.jpg') no-repeat bottom left;
}

#header h1
{
	padding:0;
	margin:0;
}

#content{
	background-color: #fff;
	padding: 0 15px 10px 15px;

} 

#footer{
	background-color: #fff;
	padding:15px;
  clear: both;
}

h2 {
	border-bottom:2px solid #015287;
	color: #D15600;
	padding-top: 10px;
  margin-top: 0;
}

table {
	border-collapse:collapse;
	font-size:12px;
	margin:0 20px 20px 20px;
	border-top:2px solid #015287;
	width:480px;
}

th {
	border-bottom: 2px solid #015287;
	color: #D15600;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	padding: 3px 8px;
}

td {
	padding: 6px;
}

#menu, #menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu li {
	cursor: pointer;
	background: #94C5EB;
	border-bottom: 1px solid #444;
	background: #94C5EB url(imgs/images/arrows.png) no-repeat right top;
}

#menu li a { text-decoration: none; }

#menu > li > a {
	padding: 2px 10px;
	font-weight: bold;
}

#menu li li {
	cursor: auto;
	border: 0;
	padding: 0 14px;
	background-color: #fff;
	background-image: none;
}

#info{
	width: 300px;
	border: 1px solid #999;
  padding: 0 10px;
}
#info p {
  width: inherit;
  background-color: inherit;
}
#info-nav{
	margin: 0;
	padding: 3px 0;
	width: 100%;
	list-style: none;
}
#info-nav li{
	display: inline;
	background: #ccc;
	border: 1px solid #888;
	border-bottom: 0;
	margin-right:2px;
	padding: 3px;
}
#info-nav li a:hover{
	color:#d15600;
}
#info-nav li.current{ 
	background: #fff;
  padding-bottom: 4px;
  
}

#celebs {
  clear: both;
}


